<div class="list">
	<form>
		<label class="item item-input item-floating-label">
			<span class="input-label">Nome</span>
			<input type="text" placeholder="Digite o seu nome" ng-model="Usuario.nome">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Email</span>
			<input type="text" placeholder="Digie o seu email" ng-model="Usuario.email">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Imagem do documento</span>
			<input type="file" file-model="Usuario.img_documento">
		</label>		
	</form>
</div>